body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

#domainInput {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

#linksArea {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.url-column {
    width: 70%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-column {
    width: 30%;
}
